<p id="notice"><%= notice %></p>

<h1><span style="color: blue;"><%= @team.name %></span></h1>

<div>
  <% if @team.users.size > 0 %>
  <%= button_to "New Standup", new_standup_team_path, class: "button", method: "post"  %>
  <% else %>
  <h3 class="bp_alert">Please add team members to run a standup.</h3>
  <% end %>
</div>

<h2>Recent standups:</h2>
<% @team.recent_standups.each do |standup| %>
  <div style="clear: both;"><strong><%= standup.created_at.strftime('%A %b %e') %></strong>: <%= distance_of_time_in_words(standup.duration) %></div>
<% end %>

<h2 class="bp_v_spacer">Team members:</h2>
<% @team.users.each do |user| %>
  <div style="clear: both;"><strong><%= user.name %></strong>  (averages <%= distance_of_time_in_words(user.average_duration, 0, true) %>)</div>
<% end %>

<div>
  <p class="bp_v_spacer">
    <%= button_to 'Add Team Member', new_member_team_path(@team), class: "button", method: "get" %>
  </p>
</div>
