<p id="notice"><%= notice %></p>

<h1>
  <%= @standup.team.name %> Standup - <%= @standup.created_at.strftime("%A, %b %d") %>
</h1>

<% @standup.updates.each do |update| %>
  <div style="clear: both;">
    <%= update.user.name %>: <%= distance_of_time_in_words(update.duration, 0, true) %>
  </div>
<% end %>

<%= link_to "Team Overview", team_path(@standup.team) %>
