
<span id="counter" class="timer">0:00</span>
<script>
var seconds = 0;
function secondPassed() {
    var minutes = Math.round((seconds - 30)/60);
    var remainingSeconds = seconds % 60;
    if (remainingSeconds < 10) {
        remainingSeconds = "0" + remainingSeconds;
    }
    seconds++;
    $('#update_duration').val(seconds);
    if (seconds > 120) {
        document.getElementById('counter').innerHTML = minutes + ":" + remainingSeconds + "  ---- Buzz Buzz";
    } else {
      document.getElementById('counter').innerHTML = minutes + ":" + remainingSeconds;
    }
}

var countTimer = setInterval('secondPassed()', 1000);
</script>

<%= form_for(@update) do |f| %>
  <% if @update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@update.errors.count, "error") %> prohibited this update from being saved:</h2>

      <ul>
      <% @update.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :duration, :value => 0 %>

  <div class="actions">
    <%= f.submit "Done!", class: "button" %>
  </div>

  <div class="actions">
    <%= link_to "Participant ABSENT", absent_user_update_path(@update), class: "button bp_button", method: "post" %>
  </div>
<% end %>
