
<div class="standup-clock"></div>

<script>
$(document).ready(function() {
  // Handler for .ready() called.
  var clock = $('.standup-clock').FlipClock({
    excludeHours: true
  });

  $('.flip')[0].remove();
  $('.flip')[0].remove();
  $('.hours').remove();
});
</script>

<%= form_for(@update) do |f| %>
  <% if @update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@update.errors.count, "error") %> prohibited this update from being saved:</h2>

      <ul>
      <% @update.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :duration, :value => 0 %>

  <div class="actions">
    <%= f.submit "Done!", class: "button" %>
  </div>

  <div class="actions">
    <%= link_to "Participant ABSENT", absent_user_update_path(@update), class: "button bp_button", method: "post" %>
  </div>
<% end %>
