<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @update.user_id %>
</p>

<p>
  <strong>Standup:</strong>
  <%= @update.standup_id %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @update.duration %>
</p>

<%= link_to 'Edit', edit_update_path(@update) %> |
<%= link_to 'Back', updates_path %>
